<div class="tphoto" *ngIf="cardProfiles.length > 0"
[@cardAnimator]="animationState"
(@cardAnimator.done)="resetAnimationState($event)"
(swipeleft)='startAnimation("swipeleft")' 
(swiperight)='startAnimation("swiperight")'
>
    <img class="image-view" [src]="cardProfiles[index]?.Image" title="tphoto" alt="Tinder Photo"/>
    <div class="tname">{{cardProfiles[index]?.FirstName}}, <span class="age">{{cardProfiles[index]?.Age}}</span>
    </div>
</div>

<div *ngIf="cardProfiles.length == 0">
    <div class="row" style="padding:10px;">
        <div class="col-sm-12">
        No Records found
        </div>
    </div>
</div>


