@media screen and (max-width: 600px) {
    .image-view {
        width: 100%;
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px #2C5F2D;;
    }
}

.image-view {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #2C5F2D;;
}

.tname {
    margin-top: 10px;
    font-weight: bold;
  }